/*
   * Author: Oliver Steele
   * Copyright: Copyright 2007 by Oliver Steele.  All rights reserved.
   * License: MIT License
   * Source: http://osteele.com/javascripts/osdoc
   * Created: 2007-07-11
   * Modified: 2007-07-16
*/

.osdoc.examples {line-height:1.4em}
.osdoc.examples h3 {font-family:serif; margin:0; padding:0;}
.osdoc.examples h4 {font-family:serif; margin:0; padding:0;}
.osdoc.examples .comment {color: #333; font-style: italic; font-family: serif}
.osdoc.examples .comment {white-space:normal}
.osdoc.examples .comment pre {margin:0}
.osdoc.examples code {font-family:monospace; font-style: normal}

.osdoc.docs .record {margin-bottom: 1em; margin-top: 1em}
.osdoc.docs .signature {color:gray; font-family:monospace; margin-bottom:.25em}
.osdoc.docs .type {color:gray; font-family:monospace; font-size:smaller; margin-bottom:.25em}
.osdoc.docs .name {font-weight:bold; color:black}
.osdoc.docs .target {color:gray}
.osdoc.docs .type .label {font-family:serif}
.osdoc.docs .description {color:#444; line-height:1.2em}
.osdoc.docs .description {margin-top:.25em; margin-bottom:.25em}
.osdoc.docs .record pre {font-family:monospace; line-height:1.2em}
.osdoc.docs .record io {line-height:1.2em}
.osdoc.docs .record .equivalence {font-size:small; font-family:serif; margin-bottom:.25ex; padding-left:10pt}
.osdoc.docs sub {font-size: x-small; font-family:serif}
.osdoc.docs sub.def {font-size: x-small; font-style:italic}

.osdoc.docs .description .equivalence  {padding-left:11pt}
.osdoc.docs .io {padding-left:10pt}

.osdoc.examples samp,
.osdoc.docs samp {color:blue}

.osdoc.docs .io kbd,
.osdoc.docs .io samp {float:left;display:block}
.osdoc.docs .io samp {padding-left:.25em}
.osdoc.docs .io .clear {clear:left}

.osdoc .math {white-space: pre}
.osdoc .processing {font-size: large; text-align: center; font-family: sans-serif}
