#evaluator .input-column,
#evaluator .output-column,
#evaluator .eval-column {float: left; margin-bottom: 5px; margin-right: 5px}
#evaluator .eval-button {padding-right: 12px; margin: 10px}
#evaluator .input-column,
#evaluator .output-column {
    padding: 5px;
}
#evaluator .input-column {border: 1px solid green}
#evaluator .output-column {border: 1px solid blue}
#evaluator .input-column .current,
#evaluator .output-column .current {
    font-size: x-large;
}
#evaluator .output-column .current {
    min-width: 15em;
    padding: 5px;
}
#evaluator .input-column .current {color:#080; border:none}
#evaluator .output-column .current {color:blue}
#evaluator.error .output-column .current {color:red}

#evaluator .input-column .transcript {color:#8c8}
#evaluator .output-column .transcript samp {color:#88c}

#evaluator .input-column .current {padding:5px}
#evaluator pre {margin:0 0 3px 8px}
#evaluator .output-column .current {margin:0;padding:0;margin-left:5px}
