#evaluator .input-column,
#evaluator .output-column,
#evaluator .eval-column {float: left}
#evaluator .eval-button {padding-right: 12px; margin: 10px}
#evaluator .input-column,
#evaluator .output-column {
    border: 1px dashed #ccc;
    padding: 5px;
}
#evaluator .input-column {border-right:none}
#evaluator .output-column {border-left:none}
#evaluator .input-column .current,
#evaluator .output-column .current {
    border: 1px solid gray;
    font-size: x-large;
}
#evaluator .output-column .current {
    border: 1px dotted;
    min-width: 25em;
    padding: 5px;
}
